<div class="coming-soon">
    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">

                    <div class="timer">
                        <div class="hours-wrapper">
                            <span class="hours">{{hour}}</span> <br>hours
                        </div>
                        <div class="minutes-wrapper">
                            <span class="minutes">{{minute}}</span> <br>minutes
                        </div>
                        <h1>Since Sunrise</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p> Location: Lat->{{latitude}}; Long->{{longitude}} </p>
